{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 
<h1 style="color: var(--bs-gray-100);">Acerca de nosotros</h1>
<br><br>
<p style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216);">Fabrizio Chirichian:</p>
<p style="margin: 23px;color: rgb(216, 216, 216);font-size: 19px;">

    edad;25 <br>
    nacido: argentina <br>
    Soy un joven emprendiendo su viaje en el mundo de la programacion, disfrute mucho del curso y espero poder seguir estudiando en esta academia <br>

</p>

{% endblock %}