{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 
<h1 style="color: var(--bs-gray-100);">Acerca de nosotros</h1>
<br><br>
<img class="rounded-circle" src="{% static 'app_blog/assets/img/ProfileF.jpg' %}" style= "width: 70px;height: 70px; line-height: 20px" ></img><a style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216)">
    
    Fabrizio Chirichian:</p>

<a style="text-align: left;margin: 3px;font-size: 18px;color: rgb(216, 216, 216)">

    Edad:25 <br>
    Nacido: Argentina <br>
    Soy un joven emprendiendo su viaje en el mundo de la programacion, disfrute mucho del curso y espero poder seguir estudiando en esta academia <br>

</a>
<img class="rounded-circle" src="{% static 'app_blog/assets/img/Profile.jpeg' %}" style= "width: 70px;height: 70px; line-height: 20px" ></img><a style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216)">
    
    Enzo Chumbita</a>

<p></p>
<a style="text-align: left;margin: 3px;font-size: 18px;color: rgb(216, 216, 216)">
    
    Estudiante de programación de 25 años nacido en Argentina, defensor del pensamiento lógico y softófilo en los ratos libres

</a>
    <br></br>

<p style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216);">Fabiola Aguirre:</p>
<p style="margin: 23px;color: rgb(216, 216, 216);font-size: 19px;">

    Gracias a un amigo que me recomendó este curso pude ampliar mis conocimientos y habilidades en 
    lo que respecta el mundo de la programación. A lo largo del curso pude ver que realmente me 
    interesaba, así que espero poder seguir en este camino. 
    <br>
    También espero poder encontrar trabajo después. ¡Le echaré muchas ganas!
    <br>
</p>

{% endblock %}
