{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 
<h1 style="color: var(--bs-gray-100);">Publicaciones recientes</h1>
{% if posts %}
    {% for post in posts %}
        <div class="container" style="background: #505458;">
        <p style="text-align: left;margin: 3px;font-size: 34px;font-weight: bold;color: rgb(187,187,187);">{{post.title}}</p>
        <p style="margin: 23px;color: rgb(187,187,187);font-size: 19px;">{{post.text}}</p>
        <p style="font-size: 16px;font-weight: bold;color: rgb(187,187,187);">{{post.author_id}} -- {{post.due_date}}</p>
        </div>
        {% endfor %}
{% endif %}
{% endblock %}