<!DOCTYPE html>
<html>

<head>
    
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'app_blog\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="{% static 'app_blog/css/Navbar-Centered-Brand-Dark.css' %}">
</head>

<body style="color: rgb(32,36,41);">
    <main class="page lanidng-page">
        <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/app_blog/"><img src="{% static 'app_blog/assets/img/coder.png' %}" style="width: 50px;height: 50px;"></a></li>
                </ul><a class="navbar-brand d-flex align-items-center" href="/app_blog/"><span style="font-size: 39px;font-family: 'DM Serif Display', serif;font-style: italic;font-weight: bold;"><strong><em>CODERBLOG</em></strong></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-5">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="/app_blog/">Inicio</a></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"><a class="nav-link" href="/app_blog/post_list">Todas las publicaciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="/app_blog/ranking_list">Ranking de cursos&nbsp;</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/app_blog/post_add">Crear publicación</a></li>
                        <a class="btn btn-primary ms-md-2" role="button" href="{% url 'app_blog:profile' %}" style="background: #49535c;border-color: rgb(13,14,16);">Mi perfil</a>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app_blog:user-logout' %}" style="color: rgb(87, 93, 101)">Cerrar sesión</a></li>
                        {% else %}
                            <a class="btn btn-primary ms-md-2" role="button" href="{% url 'app_blog:user-login' %}" style="background: #49535c;border-color: rgb(13,14,16);">Iniciar Sesión</a>
                         </div>
                        {% endif %}
                </div>
            </div>
        </nav>
        <section class="portfolio-block block-intro" style="background: rgba(32,36,41,0.89);"><span style="font-size: 68px;font-family: 'DM Serif Display', serif;font-style: italic;font-weight: bold;"><strong><em>CODERBLOG</em></strong></span>
            <div class="container">
                <div class="about-me">
                    <p style="color: var(--bs-gray-100);">CoderBlog te ayuda a comunicarte y compartir con las personas que forman parte de CoderHouse</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom" style="background: rgba(32,36,41,0.89);">
            <div class="container" style="background: #505458;">
                {% block app_blog_content %}
                {% endblock %}
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom" style="background: rgba(32,36,41,0.89);">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    {% if user.is_authenticated %}
                    <h3>¿Deseas participar en el CoderBlog?</h3><a class="btn btn-outline-primary btn-lg" role="button" href="/app_blog/post_add"  style="background: #49535c;border-color: rgb(13,14,16);color: rgb(248, 248, 248);">Crear publicación</a>
                    {% else %}
                    <h3>¿Deseas participar en el CoderBlog?</h3><a class="btn btn-outline-primary btn-lg" role="button" href="/app_blog/post_add"  style="background: #49535c;border-color: rgb(13,14,16);color: rgb(248, 248, 248);">Inicia sesión</a>
                    {% endif %}
                </div>
            </div>
        </section>
        <footer class="text-white bg-dark">
            <div class="container py-4 py-lg-5">
                <div class="row justify-content-right">
                    <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                        <h3 class="fs-6 text-white">Publicaciones</h3>
                        <ul class="list-unstyled">
                            <li><a class="link-light" href="/app_blog/">Inicio</a></li>
                            <li><a class="link-light" href="/app_blog/user-form">Crear Usuario</a></li>
                            <li><a class="link-light" href="/app_blog/search">Buscar publicación</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                        <h3 class="fs-6 text-white">Contactenos</h3>
                        <ul class="list-unstyled">
                            <li><a class="link-light" href="app_blog/ranking_list">Ranking</a></li>
                            <li><a class="link-light" href="https://plataforma.coderhouse.com/chat">Cambios y sugerencias</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                        <h3 class="fs-6 text-white">Equipo</h3>
                        <ul class="list-unstyled">
                            <li><a class="link-light" href="app_blog/abouts">Sobre nosotros</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                        <ul class="list-unstyled"></ul>
                    </div>
                    <p></p>
                    <div class="col-lg-3 text-right text-lg-start d-flex flex-column align-items-right order-first align-items-lg-start order-lg-last item social"><span href="app_blog/home"><img href="app_blog/home" src="{% static 'app_blog/assets/img/coder.png' %}" style="width: 35px;height: 35px;">&nbsp;CoderBlog</span>
                        <div class="fw-bold d-flex align-items-right mb-2"></div>
                    </div>
                </div>
                <p class="text-muted copyright"></p>
                <hr>
                <div class="d-flex justify-content-between align-items-center pt-3">
                    <p class="mb-0">Si el proyecto le gustó !Apruébenos¡ © 2022&nbsp;</p>
                </div>
            </div>
        </footer>
    </main>
    <script src="{% static 'app_blog/assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'app_blog/js/theme.js' %}"></script>
</body>

</html>