{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 

<p style="text-align: left;margin: 3px;font-size: 36px;font-weight: bold;color: rgb(187,187,187);">Mensajes</p>
    <hr></hr>
    <a class="btn btn-outline-primary btn-lg" role="button" href="/app_blog/message_add/" style="background: #49535c;border-color: rgb(31, 35, 44);color: rgb(248, 248, 248); background-color: rgb(95, 95, 133);">Enviar Mensaje</a> 
    <hr style="color: rgb(250, 250, 250);">
    {%if message_list%}
        {% for message in message_list %}
            <ul class="nav-item">
                <div class="container" style="background: #505458;">
                    <p style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216);">Enviado a {{message.receiver}} <strong style="color:rgb(43, 157, 223);">por {{message.author}}</strong></p>
                    <hr style="color: rgba(216, 216, 216, 0.189);"/>
                    <p style="margin: 23px;color: rgb(216, 216, 216);font-size: 19px;">{{message.text}}</p>
                    <hr style="color: rgba(216, 216, 216, 0.185);"/>
                    <p style="font-size: 12px;font-weight: bold;color: rgb(216, 216, 216);">Send to {{message.receiver}}, date {{message.due_date}}</p>
                </div>
            </a></ul>

            <hr style="color: rgba(216, 216, 216, 0.501);"/>

        {% endfor %}
        {%else%}    
        <div class="d-flex justify-content-center align-items-center content">
            <p style="text-align: center;margin: 3px;font-size: 20px;font-weight: bold;color: rgb(187,187,187);">No hay mensajes disponibles</p>
        <br><br>     
    {%endif%}
    
     

{% endblock %}