{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 

<div class="d-flex justify-content-center align-items-center content">
    <hr style="color: #49535c;"/></hr>
</div> 

<hr></hr>

    <form action="/app_blog/post_search" method="GET">
        <div class="d-flex justify-content-center align-items-center content">
        <p style="text-align: center;margin: 3px;font-size: 20px;font-weight: bold;color: rgb(187,187,187);">Buscar publicaciones anteriores</p>
        <input type="text" name="all_search" id="post_name_or_body" >
        <ul class="nav-item"></ul>
        <ul class="nav-item"></ul>
        <input type="submit" class="btn btn-primary" style="background: #49535c;border-color: rgb(13,14,16)" value="Buscar" />
        </div>
    </form>

    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center align-items-center content">
        <hr style="color: #49535c;"/></hr>
    </div> 
    <div class="d-flex justify-content-center align-items-center content">
        <hr></hr>
        <h2>Participa del CoderBlog compartiendo con tus compañeros</h2>
    </div>  
    <div class="d-flex justify-content-center align-items-center content">
        <a class="btn btn-primary" role="button" href="/app_blog/post_add/" style="background: #49535c;border-color: rgb(13,14,16)"> Crear publicación </a>
        <br>
        <br>
    </div>  
    {% endif %}
    
    <p style="text-align: left;margin: 3px;font-size: 36px;font-weight: bold;color: rgb(187,187,187);">Publicaciones</p>
    <hr></hr>

    {%if post_list%}
        {% for post in post_list %}
            <ul class="nav-item"><a class="nav-link active" href="{% url 'app_blog:post-detail' post.id %}">
                <div class="container" style="background: #505458;">
                    <p style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216);">{{post.title}}</p>
                    <hr style="color: rgba(216, 216, 216, 0.189);"/>
                    <p style="margin: 23px;color: rgb(216, 216, 216);font-size: 19px;">{{post.content}}</p>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="/media/{{post.image_post}}"><img src="/media/{{post.image_post}}" style="width: 25%;height: 25%;"></a></li>
                    </ul>
                    <hr style="color: rgba(216, 216, 216, 0.185);"/>
                    <img class="rounded-circle" src="{{post.profile_picture}}" style= "width: 35px;height: 35px; line-height: 20px"></img>
                    <p style="font-size: 12px;font-weight: bold;color: rgb(216, 216, 216);">{{post.author}} - {{post.due_date}} {{post.profile_picture}}</p>
                </div>
            </a></ul>

            <hr style="color: rgba(216, 216, 216, 0.501);"/>

        {% endfor %}
        {%else%}    
        <div class="d-flex justify-content-center align-items-center content">
            <p style="text-align: center;margin: 3px;font-size: 20px;font-weight: bold;color: rgb(187,187,187);">No hay publicaciones disponibles</p>  
    {%endif%} 
{% endblock %}