{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 

<div class="d-flex justify-content-center align-items-center content">
    <hr style="color: #49535c;"/></hr>
</div> 

<hr></hr>

    <form action="/app_blog/ranking_search" method="GET">
        <div class="d-flex justify-content-center align-items-center content">
        <p style="text-align: center;margin: 3px;font-size: 20px;font-weight: bold;color: rgb(187,187,187);">Buscar valoraciones anteriores</p>
        <input type="text" name="all_search" id="ranking_name_or_body" >
        <ul class="nav-item"></ul>
        <ul class="nav-item"></ul>
        <input type="submit" class="btn btn-primary" style="background: #49535c;border-color: rgb(13,14,16)" value="Buscar" />
        </div>
    </form>


<div class="d-flex justify-content-center align-items-center content">
    <hr style="color: #49535c;"/></hr>
</div> 
<div class="d-flex justify-content-center align-items-center content">
    <hr></hr>
    <h2>Da una valoración y una opinión de los cursos que has tenido</h2>
</div>  

<div class="d-flex justify-content-center align-items-center content">
    <a class="btn btn-primary" role="button" href="/app_blog/ranking_add/" style="background: #49535c;border-color: rgb(13,14,16)"> Crear valoración </a>
    <br>
    <br>
</div>  

<div class="d-flex justify-content-center align-items-center content">
    <hr style="color: #49535c;"/></hr>
</div> 

<p style="text-align: left;margin: 3px;font-size: 36px;font-weight: bold;color: rgb(187,187,187);">Cursos valorados</p>
<hr></hr>
    {%if ranking_list%}
        {% for ranking in ranking_list %}
            <ul class="nav-item"><a class="nav-link active" href="{% url 'app_blog:ranking-detail' ranking.id %}">
                <div class="container" style="background: #505458;">
                    <p style="text-align: left;margin: 3px;font-size: 30px;font-weight: bold;color: rgb(216, 216, 216);">Curso de {{ranking.name_course}}</p>
                    <hr style="color: rgba(216, 216, 216, 0.189);"/>
                    <p style="margin: 23px;color: rgb(216, 216, 216);font-size: 19px;">{{ranking.opinion}}</p>
                    <p style="font-size: 14px;font-weight: bold;color: rgb(216, 216, 216);">   Puntuacion: {{ranking.score}} </p>
                    <hr style="color: rgba(216, 216, 216, 0.185);"/>
                    <img class="rounded-circle" src="{{ranking.profile_picture}}" style= "width: 35px;height: 35px; line-height: 20px"></img>
                    <p style="font-size: 12px;font-weight: bold;color: rgb(216, 216, 216);">{{ranking.author}} - {{ranking.due_date}}</p>
                </div>
            </ul>

            <hr style="color: rgba(42, 42, 42, 0.501);"/>
            <hr style="color: rgba(42, 42, 42, 0.501);"/>

            {% endfor %}
            {%else%}    
            <div class="d-flex justify-content-center align-items-center content">
                <p style="text-align: center;margin: 3px;font-size: 20px;font-weight: bold;color: rgb(187,187,187);">No hay valoraciones disponibles</p>  
    {%endif%}
{% endblock %}