{% extends "app_blog/index.html" %}
{% load static %}
{% block app_blog_content %} 


    <h2 style="color: var(--bs-gray-100);"><strong>¡Valora tus cursos!</strong></h2>
    <hr></hr>
    <h3 style="color: var(--bs-gray-100);">Da una valoración y una opinión de los cursos que has tenido</h3>
    <a class="btn btn-primary" role="button" href="/app_blog/ranking_add/" style="background: #49535c;border-color: rgb(13,14,16)"> Crear valoración </a>
    <br>
    <br>
    <h2 style="color: var(--bs-gray-100);">Consulta las opiniones de los alumnos</h3>
    <a class="btn btn-primary" role="button" href="/app_blog/ranking_list/" style="background: #49535c;border-color: rgb(13,14,16)"> Ver valoraciones </a>
    <br>
    <br>
{% endblock %}